# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.o
/TAGS

# /
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/lash-1.0.pc
/libtool
/ltmain.sh
/stamp-h1
/install-sh
/depcomp
/missing
/compile
/svnversion_regenerate.sh
/svnversion.h

# /clients/
/clients/Makefile
/clients/Makefile.in

# /clients/panel/
/clients/panel/.deps
/clients/panel/.libs
/clients/panel/Makefile
/clients/panel/Makefile.in
/clients/panel/lash_panel

# /clients/save_button/
/clients/save_button/.deps
/clients/save_button/.libs
/clients/save_button/Makefile
/clients/save_button/Makefile.in
/clients/save_button/lash_save_button

# /clients/shell/
/clients/shell/.deps
/clients/shell/.libs
/clients/shell/Makefile
/clients/shell/Makefile.in
/clients/shell/lash_shell
/clients/shell/safety.c

# /clients/simple_client/
/clients/simple_client/.deps
/clients/simple_client/.libs
/clients/simple_client/Makefile
/clients/simple_client/Makefile.in
/clients/simple_client/lash_simple_client
/clients/simple_client/lash_simple_client_newapi

# /clients/synth/
/clients/synth/.deps
/clients/synth/.libs
/clients/synth/Makefile
/clients/synth/Makefile.in
/clients/synth/lash_synth

# /common/
/common/Makefile.in
/common/Makefile

# /dbus/
/dbus/.deps
/dbus/Makefile
/dbus/Makefile.in
/dbus/liblashdbus.a
/dbus/safety.c

# /docs/
/docs/Makefile
/docs/Makefile.in
/docs/html-manual-stamp
/docs/lash-manual.texi

# /docs/lash-manual-html-one-page/
/docs/lash-manual-html-one-page/Makefile
/docs/lash-manual-html-one-page/Makefile.in
/docs/lash-manual-html-one-page/lash-manual.html

# /docs/lash-manual-html-split/
/docs/lash-manual-html-split/Makefile
/docs/lash-manual-html-split/Makefile.in
/docs/lash-manual-html-split/lash-manual/*.html

# /icons/
/icons/Makefile
/icons/Makefile.in

# /lash/
/lash/Makefile
/lash/Makefile.in

# /lashd/
/lashd/.deps
/lashd/.libs
/lashd/Makefile
/lashd/Makefile.in
/lashd/lashd
/lashd/safety.c
/lashd/org.nongnu.lash.service

# /liblash/
/liblash/*.lo
/liblash/.deps
/liblash/.libs
/liblash/Makefile
/liblash/Makefile.in
/liblash/liblash.la
/liblash/safety.c
/liblash/signal.c
/liblash/service.c
/liblash/object_path.c
/liblash/method.c
/liblash/introspection.c
/liblash/interface.c
/liblash/error.c

# /m4/
/m4/Makefile
/m4/Makefile.in

# /pylash/
/pylash/.deps
/pylash/.libs
/pylash/Makefile.in
/pylash/Makefile
/pylash/lash.py
/pylash/lash_wrap.c
/pylash/_lash.la
/pylash/lash.lo
/pylash/lash_wrap.lo
