Source: flowcanvas
Priority: extra
Maintainer: Dave Robillard <dave@drobilla.net>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.3
Section: libs

Package: flowcanvas
Depends: flowcanvas-0
Architecture: any
Description: An interactive graph canvas widget in C++ (Gtkmm)
 FlowCanvas is an interactive Gtkmm/Gnomecanvasmm widget for graph-based
 interfaces (patchers, modular synthesizers, finite state automata,
 interactive graphs, etc).

Package: flowcanvas-dev
Depends: flowcanvas-0-dev
Architecture: any
Description: Development files (headers) for FlowCanvas
 Files required for compiling programs which use FlowCanvas.

Package: flowcanvas-0
Section: libs
Architecture: any
Pre-Depends: make
Depends: ${shlibs:Depends}, librdf0, libgnomecanvasmm-2.6-1c2a
Description: An interactive graph canvas widget in C++ (Gtkmm)
 FlowCanvas is an interactive Gtkmm/Gnomecanvasmm widget for graph-based
 interfaces (patchers, modular synthesizers, finite state automata,
 interactive graphs, etc).

Package: flowcanvas-0-dev
Section: libdevel
Architecture: any
Pre-Depends: make
Depends: flowcanvas (= ${binary:Version}), libgnomecanvasmm-2.6-dev
Description: Development files (headers) for FlowCanvas
 Files required for compiling programs which use FlowCanvas.

