Source: patchage
Priority: extra
Maintainer: Dave Robillard <dave@drobilla.net>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.3
Section: sound

Package: patchage
Section: sound
Architecture: any
Pre-Depends: make
Depends: ${shlibs:Depends}, raul-0, flowcanvas-0
Description: A modular patch bay for audio and MIDI
 Patchage is a modular patch bay for audio and MIDI systems
 based on JACK (audio, MIDI), LASH (projects), and ALSA (MIDI).

